<div class="page-header">
  <h1>Ciao <%=@user.username %>!</h1>
  <% if current_user %>
    <% if @user.id == current_user.id %>
        <ul class="list-inline list-unstyled">
            <li><span><%= link_to 'Update User Info', edit_user_path(@user) %></span></li>
            <li>|</li>
            <li><span><%= link_to 'Delete Account', @user, method: :delete %></span></li>
        </ul>
    <% end %>
  <% end %>
</div>
